<!<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    <th:object th:replace="base :: bt"></th:object>
</head>
<body class="container">
    <div th:replace="base :: menu"></div>

    <div>
        <h1 class="text-center text-info">
            Danh sách bác sĩ trong hệ thống
        </h1>

        <form th:action="@{/}" class="d-flex">
            <div class="mb-3 mt-3 flex-grow-1">
                <input type="text" class="form-control" id="kw" placeholder="Nhập tên bác sĩ muốn tìm kiếm...." name="kw">
            </div>
            
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>


        <table class="table table-striped text-center align-middle">
            <thead>
                <tr>
                    <th>Mã bác sĩ</th>
                    <th>Ảnh đại diện</th>
                    <th>Họ và tên</th>
                    <th>Số năm kinh nghiệm</th>                
                    <th>Mã số bác sĩ</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d: ${doctors}">
                    <td th:text="${d.id}"></td>
                    <td>
                        <img th:src="${d.user.avatar}" class="rounded mx-auto d-block" style="object-fit:cover;" width="200px" height="200px"/>
                    </td>
                    <td th:text="${d.user.lastName} + ' ' + ${d.user.firstName}"></td>
                    <td th:text="${d.yearOfExperience}"></td>
                    <td th:text="${d.licenseNumber}"></td>                
                    <td th:text="${d.user.isActive}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}">

    </script>
</body>
</html>