<!<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    <th:object th:replace="base :: bt"></th:object>
</head>
<body class="container">
    <div th:replace="base :: menu"></div>
    <main class="container">
        <h1>
            ĐĂNG NHẬP HỆ THỐNG
        </h1>

        <form method="post" th:action="@{/login}" > 

            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="name" name="username" placeholder="Nhập tên đăng nhập...">
                <label for="name">TÊN ĐĂNG NHẬP</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="password" class="form-control" id="price" name="password" placeholder="Nhập mật khẩu...">
                <label for="price">MẬT KHẨU</label>
            </div>

            <div class="form-floating mb-3 mt-3">
                <button class="btn btn-success"  >
                    Đăng nhập
                </button>
            </div>
        </form>
    </main>

    <div th:replace="base :: footer"></div>
</body>
</html>