<!<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    <th:object th:replace="base :: bt"></th:object>
</head>
<body class="container">
    <div th:replace="base :: menu"></div>

    <div>
        <h1 class="text-center text-info">
            Danh sách dịch vụ trong hệ thống
        </h1>

        <form th:action="@{/service}" class="d-flex">
            <div class="mb-3 mt-3 flex-grow-1">
                <input type="text" class="form-control" id="kw" placeholder="Nhập tên khoa muốn tìm kiếm...." name="name">
            </div>

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>


        <table class="table table-striped text-center align-middle">
            <thead>
                <tr>
                    <th>Mã dịch vụ</th>
                    <th>Tên dịch vụ</th>
                    <th>Giá dịch vụ</th>
                    <th>Khoa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="s: ${services}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.name}"></td>
                    <td th:text="${s.price}"></td>
                    <td th:text="${s.specializeId.name}"></td>
                    <th>
                        <button class="btn btn-danger">Xóa</button>
                        <a class="btn btn-success">Cập nhật</a>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}">

    </script>
</body>
</html>
